div
  input.filter(
    attrs={type: 'text', placeholder: 'Search'}
    props={value: filterString}
    on={
      input: $helpers.handleSearchInput,
      keydown: $helpers.handleKeyDown,
      blur: $helpers.refocus,
    }
  )
  button(on={click: $helpers.handleOptionsClick}) Options
  ul.bookmarks
    each bookmark, i in $helpers.filteredBookmarks()
      li.bookmark(class={selected: i === selectedIndex})
        a(on={
          click: (ev, el) => $helpers.handleBookmarkClick(ev, bookmark.href),
          mouseover: () => $helpers.setSelectedIndex(i),
        })
          img(attrs={src: $helpers.iconFor(bookmark.href)})
          .description= bookmark.description
          // .url= bookmark.href
