<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.madebycabin.linkhunter</string>
			<key>Developer Identifier</key>
			<string>S6L4T9A86K</string>
			<key>CFBundleVersion</key>
			<string>2</string>
			<key>CFBundleShortVersionString</key>
			<string>1.3.2</string>
			<key>URL</key>
			<string>https://s3-us-west-2.amazonaws.com/linkhunter.madebycabin.com/Linkhunter-1.3.2.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
