<h1>
  <div class=logo></div>
  <span>Linkhunter</span>
</h1>
<h2>Find your links on Delicious or Pinboard.</h2>
<a class=close></a>

<form>
  <div id=service class={{service}}>
    <input name=service type=hidden value={{service}}>
    <a class=delicious>Delicious</a>
    <span class=switch><span class=knob></span></span>
    <a class=pinboard>Pinboard</a>
  </div>
  <input name=username placeholder=username value="{{username}}">
  <input name=password type=password placeholder=password value="{{password}}">
  <label><input name=private type=checkbox {{#if private}}checked{{/if}}>
    Mark new links private by default</label>
  <button type=submit>Go hunting</button>
</form>

<footer>
  <a href="mailto:connect@madebycabin.com?subject=Linkhunter%20feedback" target=_blank>Feedback</a>
  <a href=http://madebycabin.com/ target=_blank class=made-by>Made by Cabin</a>
</footer>
