<header>
  <input autofocus>
  <a class=button href=#add><span>Add bookmark</span></a>
  <a class=button href=#config><span>Settings</span></a>
</header>
<p class=error></p>
<div class=results><ul></ul></div>
