<div class=pseudo-input>
  <ul class=tags></ul>
  <div class=autocomplete>
    <input class=behind>
    <input name="{{name}}" value="{{value}}">
  </div>
  <span class=placeholder>{{placeholder}}</span>
</div>
<ul class=suggested-tags></ul>
