lh-grey-4 = #4a4a4a
lh-grey-d = #d3d3d3
lh-grey-f = #f3f3f3
lh-teal = #00a2c2

$ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

$hide-text
  overflow hidden
  text-indent 110%
  white-space nowrap

$light-text
  color #939393
  font-size 11px
  line-height 14px
