lh-grey-4 = #4a4a4a
lh-grey-9 = #939393
lh-grey-d = #d3d3d3
lh-grey-f = #f3f3f3
lh-salmon = #f33
lh-teal = #00a2c2
ease-in-back = cubic-bezier(0.600, -0.280, 0.735, 0.045)
ease-in-out-back = cubic-bezier(0.680, -0.550, 0.265, 1.550)
ease-out-back = cubic-bezier(0.175, 0.885, 0.32, 1.275)

ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

hide-text()
  overflow hidden
  text-indent 110%
  white-space nowrap

light-text()
  color lh-grey-9
  font-size 11px
  font-weight normal
  line-height 14px

plain-list()
  list-style none
  margin 0
  padding-left 0

$pane
  background lh-grey-f
  border-radius 4px
  padding 10px 15px

$button
  background lh-teal
  border none
  border-radius 4px
  color #fff
  display block
  font-size 14px
  font-weight bold
  height 40px
  padding 11px 20px
  text-transform uppercase
  -webkit-font-smoothing antialiased
  &:hover  // XXX needs design
    background-image linear-gradient(170deg, rgba(#fff, 50%), rgba(#fff, 0) 80%)

$input
  background #fff
  border 1px solid lh-grey-d
  border-radius 4px
  box-shadow inset 0 0 2px rgba(#000, 20%)
  color lh-grey-4
  font bold 18px helvetica neue, sans-serif
  line-height 22px
  padding ((40px - @line-height - 2px) / 2) 15px
  &:focus
    outline none
  &::placeholder
    color lh-grey-d
