.config
  @extend .panel
  padding-bottom: gutter * 6

  h1 span
    replace-text-retina('../images/linkhunter.png')

  form
    width: 260px
  #service
    @extend .curved-wrapper
    small-caps-text()
    -webkit-box-align: center
    -webkit-box-pack: justify
    display: -webkit-box
    margin-bottom: gutter
    a, .switch
      cursor: pointer
      display: block
    a
      -webkit-box-flex: 1
      color: #999
      line-height: input-height + 8
      text-align: center
      transition: color .1s
    .switch
      position: relative
      replace-text-retina('../images/switch-bkg.png')
    .knob
      absolute: top 4px left 4px
      replace-text-retina('../images/switch-knob.png')
      transition: left .1s
    &.pinboard .knob
      left: 34px
    &.pinboard .pinboard, &.delicious .delicious
      color: text-color
  button
    padding-right: 35px
    position: relative
    &:after
      absolute: right 15px top 12px
      content: ""
      display: block
      replace-text-retina('../images/icons/arrow-right.png')

  footer
    italic-text()
    absolute: bottom gutter right gutter
    a
      float: left
      light-text()
      &:hover
        color: salmon-color
      &:first-child
        border-right: 1px solid dark-border-color
        padding-right: 10px
        margin-right: 10px
    .made-by
      padding-right: 20px
      image-sized: '../images/icons/trees-default.png'
      background-repeat: no-repeat
      background-position: right bottom
      &:hover
        image-sized: '../images/icons/trees-hover.png'
